<% if @event.description == "fin de bail" || @event.description == "révision de loyer"%>
        <!-- OWNER TO CONTACT -->
          <% if  @event.status == "owner_to_contact"%>
            <p id = status-black><i class="fa fa-check-circle-o" aria-hidden="true"></i>
Envoi de la demande au bailleur</p>
            <p id = status-black><i class="fa fa-check-circle-o" aria-hidden="true"></i>
Envoi notification au locataire</p>
          <!-- OWNER CONTACTED -->
             <% elsif (@event.status == "owner_contacted") || (@event.status == "tenant_to_notify")%>
            <p id = status-grey><i class="fa fa-check-circle" aria-hidden="true"></i> Demande envoyée au Bailleur</p>
            <p id = status-black><i class="fa fa-check-circle-o" aria-hidden="true"></i>
Envoi notification au locataire</p>
          <!-- TENANT NOTIFIED -->
            <% elsif @event.status == "tenant_notified"%>
            <p id = status-grey><i class="fa fa-check-circle" aria-hidden="true"></i> Demande envoyée au Bailleur</p>
            <p id = status-grey><i class="fa fa-check-circle" aria-hidden="true"></i> Notification envoyée au locataire</p>
          <!-- CASE WHERE STATUS UNKNOWN -->
            <% else %>
            <p id = status-black><i class="fa fa-check-circle-o" aria-hidden="true"></i>
Envoi de la demande au bailleur</p>
            <p id = status-black><i class="fa fa-check-circle-o" aria-hidden="true"></i>
Envoi notification au locataire</p>
          <% end %>
        <% elsif @event.description == "retard loyer" %>
            <p>Notification à envoyer au locataire</p>
        <% end %>
