<div class="loggedout">
  <div class="loggedout-header">
    <%= image_tag 'leasy_logo_white.png', width: 100 %>
    <%= link_to 'Se connecter', new_user_session_path, html_options={class: "link_connect"}%>

  </div>

  <div class="container">
      <div class="row row-eq-height">
        <div class="col-xs-12 col-md-5">
            <div class="loggedout-left">
              <h1>Gagnez en productivité dans votre gestion locative</h1>
              <hr>
              <p>Leasy est un outil très simple connecté à portefeuille de contrats, vous permettant de gérer vos tâches administratives les plus récurrentes.</p>
              <button data-toggle='modal' data-target='#mailfordemo'>Obtenir une démo</button>
            </div>
        </div>
        <div class="col-xs-12 col-md-7">
          <div class="loggedout-right">
            <div class="laptopframing">
              <%= image_tag 'laptopframe.png' %>
              <div class="iframe-position">
                <iframe id="ytplayer" type="text/html" width="576" height="324" src="http://www.youtube.com/embed/EDdyiaX6bw0?autoplay=1&origin=http://example.com&showinfo=0&autohide=1&modestbranding=1&rel=0&mute=1&start=3625&end=3833&controls=0&version=3" frameborder="0"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>

<div class="soft-line"></div>
<h2 class="titlebottom">Ce que fait Leasy</h2>

<div class="loggedout-bottom">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="bottom-feature">
          <div class="step-picto"><p>1</p></div>
          <div class="feature-picto">
            <i class="fa fa-calendar-plus-o"></i>
          </div>
          <p class="feature-desc">Il détecte automatiquement les évènements à venir à partir de votre base de contrats de bail.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="bottom-feature">
          <div class="step-picto"><p>2</p></div>
          <div class="feature-picto">
            <p class="checklist"><i class="fa fa-square-o"></i>____
            </p>
            <p class="checklist"><i class="fa fa-check-square-o"></i>____
            </p>
          </div>
          <p class="feature-desc">Il associe à ces évènements une liste de tâches, liées au bailleur ou au locataire.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="bottom-feature">
          <div class="step-picto"><p>3</p></div>
          <div class="feature-picto">
            <i class="fa fa-envelope"></i>
          </div>
          <p class="feature-desc text-center">Il génère les mails/lettres qui conviennent, directement depuis l'évènement.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<%= render '/shared/mailfordemo' %>
