.letterstyle {
  background: white;
  p {
    font-size: 15px;
  }

}

.letterhead-left {
  width: 100%;

  .imageletter {
    height: 100px;
  }
}
.letterhead-right {
  width: 100%;
  text-align: right;
}
