.banner {
  background-position: center;
  color: white;
  text-align: right;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: right;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
.btn-log {
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
  border-color: white;
  font-size: 26px;
  padding: 10px 15px;
  text-decoration: none;
  width: 250px;
  transition: .3s;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #405663;
  background-color: white;
  text-decoration: none;
}
.elements-log {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    margin-top: 140px;
    margin-left: 600px;
}
.btn-log:hover{
  color: white;
  border-color: white;
  text-decoration: none;
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
}
.btn-log-connect {
  text-align: center;
  top: 200px;
}
