.top-home {
  // display:flex;
  width: 100%;
}

.right-cards {
  height: 100%;
}

.actioncards {
  // display: flex;
  justify-content: space-between;

  .actioncard {
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;

    h2, p, a {
      margin: 0px;
    }
    a {
      font-weight: bold;
    }

    a:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }

}
body {
  background: rgb(250, 250, 250);
}
